@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Zen+Antique+Soft&display=swap');

$zenFont: 'Zen Antique Soft', serif;
$montserrat: 'Montserrat', sans-serif;

$soft-orange: lighten(orange, 40%);
$soft-pink: lighten(pink, 20%);
$primary-blue: rgb(185, 239, 255);
$primary-text: darken(lightgrey, 30%);


body {
  background: linear-gradient(to right, $primary-blue, $soft-pink, $soft-orange);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  // border: solid black 2px;
}

.quote-box {
  display: flex;
  flex-direction: column;
  //border: solid 2px black;
  max-width: 60%;
  max-height: 50px;
  padding: 20px;
  font-family: $montserrat;
  margin: 20px;

  .quote-text {
    padding: 5px;
    text-align: center;
    
    //border: solid black 2px;
  }
  .author {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 80%;

  }
}

.h1 {
  font-family: $zenFont;
  font-size: 50px;
  margin: 20px;
  color: darken($primary-text, 10%);
}

.btn {
  padding: 15px;
  font-size: 15px;
  border-radius: 10px;
  margin: 20px;
  background: transparent;
  border: solid $primary-text 1px;
  width: 135px;
  color: $primary-text;
}
.form-box {
  display: flex;
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 10px;
  flex-direction: row;
  justify-content: s;
  //border: black solid 1px;
}
.submit {
  padding: 6px;
  margin: 5px;
  width: 60px;
  font-size: 12px;
  border-radius: 6px;
}
.submit-form {
  border-radius: 6px;
  border: solid 1px $primary-text;
  text-indent: 5px;
  background: transparent;
  padding: 5px 2px 5px 2px
}

.btn:hover {
  background: linear-gradient(to right, lighten($primary-blue, 5%) 15%, lighten(pink, 10%) 65%, lighten(orange, 45%));
  color: darken($primary-text, 20%);
  border: solid 1px darken($primary-text, 20%);
}
